<!DOCTYPE html>
<html>
<head>
    <style media="all" type="text/css">
        table {
            border-collapse: collapse;
            border: 1px solid #CCC;
            font-family: Verdana, Arial, Helvetica, sans-serif;
            font-size: 9pt;
            line-height: normal;
            width: 100%;
        }

        th {
            text-align: center;
            border-top: 1px solid #FB7A31;
            border-bottom: 1px solid #FB7A31;
            background: #FFC;
            padding: 0.3em;
            border-left: 1px solid silver;
        }

        tr.break td {
            border: 0;
            border-top: 1px solid #FB7A31;
            padding: 0;
            margin: 0;
        }

        tr.method td {
            font-weight: bold;
        }

        td {
            padding: 0.3em;
        }

        td:first-child {
            width: 190px;
        }

        td {
            border-left: 1px solid #CCC;
            text-align: center;
        }

        .method_name {
            text-align: left;
        }

        tfoot td {
            text-align: left;
        }
    </style>
</head>
<body>
<h1>Profile Report: <%= @result.measure_mode_string %></h1>
<!-- Threads Table -->
<table>
    <tr>
        <th>Thread ID</th>
        <th>Fiber ID</th>
        <th>Total Time</th>
    </tr>
    <% for thread in @result.threads %>
    <tr>
        <td><%= thread.id %></td>
        <td><a href="#<%= thread.fiber_id %>"><%= thread.fiber_id %></a></td>
        <td><%= thread.total_time %></td>
    </tr>
    <% end %>
</table>

<!-- Methods Tables -->
<%
for thread in @result.threads
methods = thread.methods
total_time = thread.total_time
%>
<h2><a name="<%= thread.fiber_id %>">Thread <%= thread.id %>, Fiber: <%= thread.fiber_id %></a></h2>
<table>
    <thead>
    <tr>
        <th>%Total</th>
        <th>%Self</th>
        <th>Total</th>
        <th>Self</th>
        <th>Wait</th>
        <th>Child</th>
        <th>Calls</th>
        <th class="method_name">Name</th>
        <% if @result.track_allocations? %>
        <th>Allocations</th>
        <% end %>
        <th>Line</th>
    </tr>
    </thead>
    <tbody>
    <% min_time = @options[:min_time] || (@options[:nonzero] ? 0.005 : nil)
       sorted_methods = sort_method ? methods.sort_by(&sort_method) : methods.sort
       sorted_methods.reverse_each do |method|
         total_percentage = (method.total_time/total_time) * 100
         next if total_percentage < min_percent
         next if min_time && method.total_time < min_time
         self_percentage = (method.self_time/total_time) * 100 %>

         <!-- Parents -->
         <% for caller in method.callers.sort
            next if method.root?
            next if min_time && caller.total_time < min_time %>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><%= sprintf("%.2f", caller.total_time) %></td>
                <td><%= sprintf("%.2f", caller.self_time) %></td>
                <td><%= sprintf("%.2f", caller.wait_time) %></td>
                <td><%= sprintf("%.2f", caller.children_time) %></td>
                <td><%= "#{caller.called}/#{method.called}" %></td>
                <td class="method_name"><%= create_link(thread, total_time, caller.parent) %></td>
                <% if @result.track_allocations? %>
                <td>-</td>
                <% end %>
                <td><%= if caller.parent.source_file
                        file_link(caller.parent.source_file, caller.line)
                      end %></td>
            </tr>
         <% end %>
         <tr class="method">
            <td><%= sprintf("%.2f%%", total_percentage) %></td>
            <td><%= sprintf("%.2f%%", self_percentage) %></td>
            <td><%= sprintf("%.2f", method.total_time) %></td>
            <td><%= sprintf("%.2f", method.self_time) %></td>
            <td><%= sprintf("%.2f", method.wait_time) %></td>
            <td><%= sprintf("%.2f", method.children_time) %></td>
            <td><%= sprintf("%i", method.called) %></td>
            <td class="method_name">
                <a name="<%= method_href(thread, method) %>">
                    <%= method.recursive? ? "*" : " "%><%= h method.full_name %>
                </a>
            </td>

            <% if @result.track_allocations? %>
              <td><%= method.allocations.reduce(0) do |size, allocation|
                      size += allocation.count
                  end %>
              </td>
            <% end %>

            <td><%= if method.source_file
                      file_link(method.source_file, method.line)
                    end %></td>
         </tr>

         <% if @result.track_allocations? %>
         <tr>
            <td colspan="10">
                <table>
                    <% for allocation in method.allocations %>
                    <tr>
                        <td>
                            <%= allocation.klass_name %>
                        </td>
                        <td>
                            <%= "#{allocation.count} (#{allocation.memory} Bytes)" %>
                        </td>
                      <td>
                        <%= "#{allocation.source_file}:#{allocation.line}" %>
                      </td>
                    </tr>
                    <% end %>
                </table>

            </td>
         </tr>
         <% end %>

         <!-- Children -->
         <% for callee in method.callees.sort_by(&:total_time).reverse
            next if min_time && callee.total_time < min_time %>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td><%= sprintf("%.2f", callee.total_time) %></td>
              <td><%= sprintf("%.2f", callee.self_time) %></td>
              <td><%= sprintf("%.2f", callee.wait_time) %></td>
              <td><%= sprintf("%.2f", callee.children_time) %></td>
              <td><%= "#{callee.called}/#{callee.target.called}" %></td>
              <td class="method_name"><%= create_link(thread, total_time, callee.target) %></td>
              <% if @result.track_allocations? %>
              <td>-</td>
              <% end %>
              <td><%= file_link(callee.source_file, callee.line) %>
            </tr>
         <% end %>

         <!-- Create divider row -->
         <tr class="break"><td colspan="10"></td></tr>
       <% end %>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="9">* indicates recursively called methods</td>
    </tr>
    </tfoot>
</table>
<% end %>
</body>
</html>
